[user]
	name = iaia
	email = iaia72160@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
  default = simple

[core]
	excludesfile = /Users/iaia/.gitignore_global
