source ~/.vim/rc/map.vim
source ~/.vim/rc/basic.vim

set clipboard=unnamed

nnoremap <Space>e :action SearchEverywhere<CR>
nnoremap <Space>g :action FindInPath<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>
nnoremap <Space>a :action GotoAction<CR>
nnoremap cc :action CommentByLineComment<CR>
vnoremap cc :action CommentByLineComment<CR>
nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

nnoremap <C-h> :action PreviousTab<CR>

sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-F> a:vim
sethandler <C-H> a:vim
sethandler <C-J> a:vim
sethandler <C-L> a:ide
sethandler <C-N> a:vim
sethandler <C-P> a:vim
sethandler <C-R> a:vim
sethandler <C-V> a:vim
sethandler <C-]> a:ide
set clipboard^=ideaput
